astroid==2.12.12
certifi==2022.9.24
chardet==5.0.0
colorama==0.4.6
idna==3.4
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
pylint==2.15.5
python-tsl2591==0.2.0
six==1.16.0
smbus2==0.4.2
toml==0.10.2
urllib3==1.26.12
wrapt==1.14.1
