astroid==3.3.10
certifi==2025.4.26
chardet==5.2.0
colorama==0.4.6
idna==3.10
isort==6.0.1
lazy-object-proxy==1.11.0
mccabe==0.7.0
pylint==3.3.7
python-tsl2591==0.2.0
six==1.17.0
smbus2==0.5.0
toml==0.10.2
urllib3==2.4.0
wrapt==1.17.2
