astroid==3.3.2
certifi==2024.8.30
chardet==5.2.0
colorama==0.4.6
idna==3.8
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
pylint==3.2.6
python-tsl2591==0.2.0
six==1.16.0
smbus2==0.4.3
toml==0.10.2
urllib3==2.2.2
wrapt==1.16.0
